#wps-wpr-campaign-modal .wps_wpr_campaign_heading {
  font-size: 20px;
  font-weight: 600;
  margin: -10px 0 15px;
  color: #000;
}

#wps-wpr-campaign-modal .wps-wpr-hlw_co-p {
  padding: 5px 10px;
  background: linear-gradient(
    45deg,
    var(--wps-modal-prim-col),
    var(--wps-modal-sec-col)
  );
  border-radius: 5px;
  margin: 15px 0;
  font-size: 14px;
  text-align: center;
  color: white;
}

#wps-wpr-campaign-modal {
  max-width: 600px;
  width: calc(100% - 30px);
  max-height: 90%;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #dddcdc;
  opacity: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateY(200px);
  transition: all 0.3s linear;
  pointer-events: none;
  z-index: -999;
  overflow: hidden;
}

.wps-wpr-campaign-modal-in {
  position: relative;
  padding: 20px;
}

#wps-wpr-campaign-modal .wps-wpr-hlw_close {
  margin: 0px;
  position: absolute;
  color: #000;
  top: 5px;
  right: 10px;
  cursor: pointer;
  font-size: 32px;
  transition: all 0.2s linear;
  line-height: 1;
  opacity: 0.5;
}

#wps-wpr-campaign-modal .wps-wpr-hlw_close:hover {
  opacity: 1;
  transform: rotate(90deg);
}

#wps-wpr-campaign-modal .wps-wpr-hlw_container {
  max-height: 600px;
  overflow: auto;
}

#wps-wpr-campaign-modal .wps-wpr-hlw_co-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  width: 100%;
}

#wps-wpr-campaign-modal .wps_wpr_campaign_btn {
  padding: 5px 15px;
  border-radius: 0;
  background: transparent;
  color: #000;
  border-bottom: 2px solid #d7d7d7;
}

.wps-wpr_earn-ref-btn {
  flex: 1;
  display: grid;
  margin: 15px 0;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

#wps-wpr-campaign-modal .wps_wpr_campaign_btn.wps_wpr_campaign_btn--active {
  background: #a7428c2b;
  color: #a7428c;
  border-bottom: 2px solid;
  border-radius: 5px 5px 0 0;
}

#wps-wpr-campaign-modal .wps_wpr_campaign_btn:focus {
  outline: none;
}

#wps-wpr-campaign-modal.wps-wpr-campaign-modal--active {
  opacity: 1;
  transform: translate(-50%, -50%);
  pointer-events: auto;
  z-index: 9999999;
}

#wps-wpr-campaign-modal img {
  border-radius: 10px;
  height: auto;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.wps-wpr_co-items-wrap {
  display: flex;
  justify-content: center;
}

.wps-wpr_co-items-wrap .wps-wpr_campaign-h2 {
  padding: 0;
}

.wps-wpr_co-items-wrap .wps-wpr_co-item {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  margin: 0 0 15px;
}

.wps-wpr_co-items-wrap .wps-wpr-hlw_co-items-first.wps-wpr_co-item {
  border-right: 2px solid #f2f2f2;
}

.wps-wpr_co-items-wrap .wps-wpr_co-item .wps-wpr_campaign-h2 {
  display: flex;
  border: none;
  margin: 0 0 5px;
  justify-content: center;
  font-size: 18px;
}

.wps-wpr_co-items-wrap .wps-wpr_co-item h6 {
  font-size: 14px;
  color: #000;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

#wps-wpr-campaign-modal .wps-wpr-hlt_co-footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  /* background: linear-gradient(45deg, var(--wps-modal-prim-col), var(--wps-modal-sec-col)); */
  padding: 5px;
  left: 0;
  right: 0;
}

#wps-wpr-campaign-modal .wps-wpr-hlt_co-footer p {
  margin: 0;
  /* color: white; */
}

#wps-wpr-campaign-modal img.wps-wpr-hlw_co-icon {
  width: 24px;
  height: 24px;
}

.wps-wpr_cam-quiz-btn {
  position: relative;
  display: inline-flex;
}

.wps-wpr_cam-quiz-btn .wps_wpr_img_loader {
  position: absolute;
  bottom: 10px;
  left: calc(100% + 10px);
}

.wps-wpr_cam-quiz-btn input[type="button"] {
  background: linear-gradient(
    45deg,
    var(--wps-modal-prim-col),
    var(--wps-modal-sec-col)
  );
  border-radius: 5px;
  color: white;
  font-weight: 400;
}

.wps-wpr_cam-quiz-btn input[type="button"]:hover {
  color: white;
}

#wps-wpr-campaign-modal img.wps_wpr_img_loader {
  width: 24px;
  height: 24px;
  display: none;
}

.wps_wpr_campaign_promo {
  color: #000;
  padding: 15px 15px 25px;
  width: 100%;
}

.wps-wpr_campaign-h2 {
  font-size: 14px;
  font-weight: 600;
  display: flex;
  line-height: 1.25;
  margin: 0;
  gap: 5px;
  flex-wrap: wrap;
  padding: 15px 0;
  border-bottom: 1px solid #f2f2f2;
  align-items: center;
}

.wps-wpr_campaign-h2 span {
  flex: 1;
}

.wps-wpr_campaign-h2 a {
  color: #a7428c;
}

.wps-wpr_campaign-quiz-wrap {
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  padding: 15px;
}

.wps-wpr_campaign-h1 {
  font-size: 20px;
  text-align: center;
  margin: 0 0 20px;
}

.wps-wpr_campaign-h3 {
  font-size: 16px;
  font-weight: 600;
  margin: 0 0 10px;
  line-height: 1.25;
}

.wps-wpr_campaign-quiz-opt {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.wps-wpr_campaign-h1 {
  font-size: 20px;
  text-align: center;
  margin: 0 0 20px;
}

.wps-wpr_camp-guest-part-link {
  padding: 40px 20px;
  background: linear-gradient(
    45deg,
    var(--wps-modal-prim-col),
    var(--wps-modal-sec-col)
  );
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 0 15px;
}

.wps-wpr_camp-guest-part-link > a {
  background: #fff;
  padding: 6px 12px;
  border-radius: 5px;
  color: #000;
  margin: 0 0 15px;
}

.wps-wpr_camp-guest-part-link p {
  color: white;
  margin: 0;
}

.wps-wpr_camp-guest-part-link p > a {
  color: white;
  text-decoration: underline;
}

.wps_wpr_submit_quiz_ans {
  background: linear-gradient(
    45deg,
    var(--wps-modal-prim-col),
    var(--wps-modal-sec-col)
  );
  color: white;
  border-radius: 5px;
  margin: 15px 0 0;
}

.wps-wpr_campaign-p {
  text-align: center;
  font-size: 14px;
  margin: 0 0 15px;
}

.wps-wpr_campaign-quiz-opt label {
  background: #f9f9f9;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.wps-wpr_campaign-quiz-opt label input {
  display: none;
}

.wps-wpr_campaign-quiz-opt label:has(input:checked) {
  background: #a7428c;
  color: #fff;
}

.wps_wpr_campaign_promo p.wps_wpr_quiz_notice {
  font-size: 14px;
  margin: 15px 0;
}

.wps-wpr_camp-acc-wrap-in {
  border: 1px solid #f2f2f2;
  padding: 40px 20px;
  border-radius: 0 0 5px 5px;
  display: flex;
  background: #f9f9f9;
  gap: 10px;
  position: relative;
}

.wps-wpr_camp-acc-wrap-in.subs-mail {
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  font-size: 14px;
  padding: 25px 15px;
}

.wps-wpr_camp-birth input[type="date"] {
  flex: 1;
  background: transparent;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px 10px;
  color: #000;
}

.wps-wpr_camp-birth input[type="date"]:disabled {
  color: #dcdcdc;
  border-color: #dcdcdc;
}

.wps-wpr_camp-acc-wrap-in input[type="button"] {
  background: linear-gradient(
    45deg,
    var(--wps-modal-prim-col),
    var(--wps-modal-sec-col)
  );
  border-radius: 5px;
  color: white;
  font-weight: 400;
}

.wps-wpr_camp-acc-wrap-in input[type="button"]:hover {
  color: white;
}

.wps-wpr_camp-birth .wps_wpr_img_loader {
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
}

.wps-wpr_camp-birth + .wps_wpr_birthday_success_notice {
  margin: 15px 0;
  font-size: 14px;
}

.wps_wpr_campaign_referral_wrapper p {
  font-size: 14px;
  margin: 0;
  line-height: 1.25;
}

.wps_wpr_campaign_referral_wrapper .wps_wpr_refrral_code_copy {
  background: #f2f2f2;
  padding: 40px 20px;
  margin: 0 0 15px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.wps_wpr_campaign_referral_wrapper > p {
  margin: 0 0 15px;
  text-align: center;
}

.wps_wpr_campaign_referral_wrapper
  .wps_wpr_refrral_code_copy
  #wps_wpr_copy
  code {
  padding: 10px;
  border-radius: 5px;
  background: white;
  border: 1px dashed #dcdcdc;
}

.wps_wpr_campaign_referral_wrapper
  .wps_wpr_refrral_code_copy
  button.wps_wpr_btn_copy {
  font-size: 12px;
}

.wps_wpr_campaign_referral_wrapper
  .wps_wpr_refrral_code_copy
  button.wps_wpr_btn_copy
  .wps_tooltiptext {
  opacity: 0;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  display: inline-block;
  transition: all 0.3s linear;
}

.wps_wpr_campaign_referral_wrapper
  .wps_wpr_refrral_code_copy
  button.wps_wpr_btn_copy:hover
  .wps_tooltiptext {
  opacity: 1;
}

.wps_wpr_campaign_referral_wrapper .wps_wpr_refrral_code_copy button img {
  width: 28px;
  height: 28px;
}

.wps_wpr_campaign_referral_wrapper .wps_wpr_wrapper_button {
  display: flex;
  justify-content: center;
  margin: 0 0 15px;
}

.wps-wpr_campaign-h2{
  cursor: pointer;
}

.wps-wpr_campaign-h2 span.wps-wpr_camp-h2-icon {
  text-align: right;
  font-size: 18px;
  color: #a7428c;
}

.wps-wpr-hlw_co-icon {
  transition: all 0.3s linear;
}

.wps-wpr-hlw_co-icon.active {
  transform: rotate(90deg);
}

.wps-wpr_campaign-h2.wps_disabled_cursor {
  cursor: default;
}

.wps-wpr_campaign-h2 span.wps-wpr_camp-h2-icon-done {
  text-align: right;
  font-size: 20px;
  color: #a7428c;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  align-items: center;
}

.wps-wpr_camp-acc-wrap {
  display: none;
}

#wps-wpr-campaign-modal .wps-wpr_camp-acc-wrap img {
  border-radius: 0;
}

.wps_wpr_campaign_login-btn {
  transition: box-shadow 0.3s linear, transform 0.2s ease;
}
.wps-wpr_camp-guest-part.active .wps_wpr_campaign_login-btn {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}

.wps-wpr_camp-acc-wrap-in.social-likes {
  padding: 20px 15px;
  justify-content: center;
}
.wps-wpr_camp-acc-wrap-in.social-likes div {
  text-align: center;
}
.wps-wpr_camp-acc-wrap-in.social-likes .wps_wpr_visit_like_btn {
  font-size: 16px;
  background: linear-gradient(
    45deg,
    var(--wps-modal-prim-col),
    var(--wps-modal-sec-col)
  );
  border-radius: 5px;
  color: white;
  font-weight: 400;
  padding: 12px 20px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  line-height: 1.25;
}

.wps-wpr_camp-acc-wrap-in.social-likes .wps_wpr_visit_like_btn.instagram{
    background:linear-gradient(115deg, rgb(249, 206, 52), rgb(238, 42, 123), rgb(98, 40, 215));
}

.wps-wpr_camp-acc-wrap-in.social-likes .wps_wpr_visit_like_btn.linkedin{
    background: #0073b1;
}

.wps-wpr_camp-acc-wrap-in.social-likes .wps_wpr_visit_like_btn.facebook{
    background: #3b5998;
}

.wps-wpr_camp-acc-wrap-in.social-likes .wps_wpr_visit_like_btn.youtube{
    background: #cc181e;
}

.wps-wpr_camp-acc-wrap-in.social-likes .wps_wpr_visit_like_btn.twitter{
    background: #000;
}

.wps-wpr_camp-acc-wrap-in.social-likes .wps_wpr_visit_like_btn.pinterest{
    background: #cb2027;
}

#wps-wpr-campaign-modal
  .wps-wpr_camp-acc-wrap-in.social-likes
  .wps_wpr_visit_like_btn
  img {
  width: 20px;
  height: 20px;
}
@media only screen and (max-width: 768px) {
  #wps-wpr-campaign-modal .wps-wpr-hlw_container {
    max-height: 480px;
  }
}
